.containerindex{
  display: flex;
  width: 100%;
}
.containerindexpart1, .containerindexpart2{
  display: flex;
  width: 50%;
}
.boxindex{
  background-color: #35345B;
  width: 50%;
  text-align: center;
  padding: 50px 0px;
  border: 1px solid #000000;
}
.containerindex{
  width: 100%;
  margin-top: 64px;
}
.btn-souhait{
  background-color: #E80041 !important;
}
.souhait{
  color: #F3F3F3;
  font-size: 25px;
}
.typesouhait{
  color: #E80041;
  font-size: 35px;
}
.icone{
  color: #008ee8;
  font-size: 60px !important;
}
